/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.image {
    width: 400px;
    aspect-ratio: 4/3;
    border-radius: 5px;
    overflow: hidden;
}

.image .image__test {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Thanh topnav */
/* .topnav {
    background-color: #2c3e50;
    overflow: hidden;
    padding: 0 20px;
}

.topnav a {
    float: left;
    display: block;
    color: #ecf0f1;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background 0.3s;
}

.topnav a:hover {
    background-color: #34495e;
}

.topnav a.active {
    background-color: #1abc9c;
    color: white;
    border-radius: 6px;
} */

/* Container form */
.form-add-new {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Fieldset */
.form-add-new fieldset {
    border: none;
}

.form-add-new legend {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #0f543c;
}

/* Input group */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    margin-bottom: 6px;
    font-weight: 600;
    color: #555;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s, box-shadow 0.3s;
}

.input-group input:focus {
    border-color: #1abc9c;
    box-shadow: 0 0 5px rgba(26, 188, 156, 0.4);
}

.btn {
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #b1efd9;
    background-color: #b1efd9;
    color: #0f543c;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    background-color: transparent;
    border: 1px solid #0f543c;
}